<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.web.dao.IRoadInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alibaba.web.entity.po.RoadInfo">
        <id column="id" property="id" />
        <result column="model_number" property="modelNumber" />
        <result column="weather" property="weather" />
        <result column="temperature" property="temperature" />
        <result column="RTTI" property="rtti" />
        <result column="created" property="created" />
    </resultMap>
    <select id="getRoadInfo" resultType="com.alibaba.web.entity.vo.MapData">
		SELECT
		ei.chartX,
		ei.chartY,
		ei.`name`,
		ei.model_number,
		b.weather,
		b.temperature,
		b.RTTI,
		b.fengsu,
		b.yanwu,
		b.yudi,
		b.duche
		FROM equipment_info ei
		INNER JOIN (SELECT ri.* FROM (SELECT model_number, MAX(created) created FROM road_info GROUP BY model_number) a
		LEFT JOIN road_info ri ON ri.model_number=a.model_number AND ri.created=a.created) b ON b.model_number=ei.model_number
		WHERE ei.state=1
    </select>

</mapper>
