<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.web.dao.ISsCompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alibaba.web.entity.po.SsCompany">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="expiration_date" property="expirationDate" />
        <result column="address" property="address" />
        <result column="license_id" property="licenseId" />
        <result column="representative" property="representative" />
        <result column="phone" property="phone" />
        <result column="company_size" property="companySize" />
        <result column="industry" property="industry" />
        <result column="remarks" property="remarks" />
        <result column="state" property="state" />
        <result column="balance" property="balance" />
        <result column="city" property="city" />
    </resultMap>
    <select id="findAll" resultType="com.alibaba.web.entity.po.SsCompany">
        select * from ss_company
    </select>

</mapper>
