<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.web.dao.ISysDeptMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alibaba.web.entity.po.SysDept">
        <id column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="parent_id" property="parentId" />
        <result column="state" property="state" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
    </resultMap>
    <select id="findAll" resultType="com.alibaba.web.entity.po.SysDept">
        SELECT * FROM sys_dept WHERE company_id= #{companyId}
    </select>

</mapper>
